<%= cl_image_tag("ft-8-Skinny-Summer-Cocktails-That-Wont-Bust-Your-Diet",
      width: 400, height: 300, crop: :fill) %>
<h1>All my Cocktails</h1>
<div class = "cocktails">
  <% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
  <% end %>
</div>
<p><%= link_to "Add new cocktail", new_cocktail_path %>
</p>


<!-- for face detection -->
